<div class="picker">
  <button mat-button type="button" (click)="select(null)">Clear</button>

  <ng-container *ngIf="tree$ | async as nodes; else loading">
    <ul class="tree">
      <li *ngFor="let n of nodes; trackBy: trackById">
        <button
          type="button"
          mat-button
          [class.active]="n.id === selectedId"
          (click)="select(n.id)"
        >
          {{ n.name }}
        </button>

        <app-location-children
          [nodes]="n.children"
          [selectedId]="selectedId"
          (select)="select($event)"
        ></app-location-children>
      </li>
    </ul>
  </ng-container>

  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</div>
