spring:
  datasource:
    url: jdbc:h2:mem:schema_export;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

      jakarta:
        persistence:
          schema-generation:
            scripts:
              action: create
              create-target: build/schema-export.sql
            create-source: metadata

assetman:
  security:
    jwt:
      secret: "01234567890123456789012345678901"
      access-token-validity-seconds: 900
      refresh-token-validity-seconds: 1209600
