spring:
  datasource:
    url: jdbc:h2:file:./build/h2/assetman-dev;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  graphql:
    graphiql:
      enabled: true
  output:
    ansi:
      enabled: ALWAYS

app:
  cors:
    allowed-origins: "http://localhost:4200"
